.menu {
  background-color: #115740;
  border-right: 1px solid #ccc;
  transition: width 0.3s;
  overflow: hidden;
  width: 50px;
  position: relative;
}

.menu.expanded {
  width: 160px;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 10px;
}

.menuItems, .iconItems {
  padding: 0;
  margin: 0;
  list-style: none;
}

.iconItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 5px;
  font-size: 1.5em;
  color: #fff;
}
