/* src/pages/Home/Home.module.css */
.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapContent {
  flex-grow: 1;
  position: relative;
}

/* Ensure MapContainer takes up full height of its container */
.mapContent > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}