.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 350px;
  min-height: 60px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.container:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.label {
  font-weight: bold;
  color: #333;
  width: 105px;
}

.colorSelectContainer {
  display: flex;
  justify-content: flex-end;
}

.text {
  font-size: 14px;
  color: #333;
}

.zl {
  font-size: 12px;
  margin: 2px 0;
  color: #555;
  white-space: nowrap;
}

.checkboxesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  min-width: 85px;
}

.checkboxContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.checkbox {
  appearance: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 2px;
  position: relative;
}

.checkbox:checked {
  background-color: #28a745;
  border-color: #28a745;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 0.4px;
  left: 3.4px;
  width: 2px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.closeButton {
  background: none;
  border: none;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.closeButton:hover {
  background-color: #ff4d4f;
  color: #fff;
}
